<h1>Orders</h1>
<table class="table">
  <thead>
    <tr>
      <th>Customer Name</th>
      <th>Date of order</th>
      <th></th>
    </tr>
  </thead> 
  <tbody>
    <tr *ngFor="let order of orders$ | async">
       
      <td>{{ order.payload.doc.data().shipping.name }}</td>
      <td>{{ order.payload.doc.data().datePlaced | date}}</td>
    </tr>
  </tbody> 
</table>