

<h1>Shopping cart</h1>
  <div class="row col-12" *ngIf="cart$ | async as cart">
    <p>
      You have {{ cart.Count }} items in your cart.
      <button 
        *ngIf="cart.items.length"
        class="btn btn-danger" 
        (click)="clearCart()">
        Clear shopping cart
      </button> 
    </p>
    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th>Product</th>
          <th class="text-center" style="width: 250px">Quantity</th>
          <th class="text-right" style="width: 200px">Price</th>
        </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of cart.items">
        <td>
          <div [style.backgroundImage]="'url(' + item.product.imageUrl +')'" class="productImage" > </div>
        </td>
        <td>
          {{item.product.title}}
        </td>
        <td>
            <product-quantity [product]="item.product" [shopping-cart]="cart"></product-quantity>
        </td>
        <td class="text-right" >{{item.totalPrice | currency:'USD':true}}</td>
      </tr>
      </tbody>
      <tfoot>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th class="text-right">{{ cart.totalPrice | currency:'USD':true}}</th>
        </tr>
      </tfoot>
    </table>
    <a 
      *ngIf="cart.items.length"
      routerLink="/check-out"
      class="btn btn-primary">Check Out
    </a>
  </div>

