<div class="sticky-top">
    <div class="list-group">
        <a 
        class="list-group-item list-group-item-action"
         [class.active]="!category"
         routerLink="/">
         All Categories
        </a>
        <a *ngFor="let c of categories$ | async" 
        routerLink="/"
        [queryParams]="{category:c.payload.doc.id}"
        [class.active]="category === c.payload.doc.id"
        class="list-group-item list-group-item-action">
          {{c.payload.doc.data().name}}
        </a>
      </div>
</div>