<div class="row no-gutters">
    <div class="col-2">
      <button 
      (click)="removeItem()"
      class="btn btn-danger btn-block">-</button>
    </div>
    <div class="col text-center">
    {{ shoppingCart.getQuantity(product) }} in your cart
    </div> <div class="col-2">
      <button 
      (click)="addToCart()"
      class="btn btn-success btn-block">+</button>
    </div>
  </div>