<div class="card">
    <div class="card-body">
      <h5 class="card-title">Order Summary</h5>
      <p class="card-text">You have {{ cart.Count }} items in your shopping cart</p>
      <ul class="list-group">
        <li *ngFor="let item of cart.items" class="list-group-item">
          {{ item.quantity }} x {{ item.product.title }}
          <div class="float-right">
            {{ item.totalPrice | currency:'USD':true }}
          </div>
        </li>
        <li class="list-group-item font-weight-bold">
          Total 
          <div class="float-right">
            {{ cart.totalPrice | currency:'USD':true }}
          </div>
        </li>
      </ul>
    </div>
  </div>
